nav {
  display: flex;
  color: #ffff;
  height: 120px;
  background-color: #f5b800;
  padding-left: 1.5em;
  padding-right: 1.5em;
  z-index: 1;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  font-family: "Bungee", cursive;
  font-size: xx-large;
  align-items: center;
  justify-content: space-between;
  background-image: url("/images/asfalt-light.png");
}

/* .box {
  
} */

.profile-container {
  display: flex;
  height: 400px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 120px;
  background-image: url("/images/asfalt-light.png");
  background-color: #f5b800;
}

#new-tweet-icon {
  display: flex;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  flex-direction: column;
  align-items: center;
}

.first-word {
  font-weight: 600;
}

.rest-of-word {
  font-weight: 300;
}

#new-tweet-icon {
  cursor: pointer;
}

.arrows-icon {
  color: crimson;
}

#new-tweet-icon:hover > .arrows-icon {
  animation: updown 1.25s ease infinite;
}

@keyframes updown {
  0% {
    transform: translateY(-2%);
  }

  50% {
    transform: translateY(10%);
  }

  100% {
    transform: translateY(-2%);
  }
}
