.new-tweet {
  flex: 1 0 100%;
}

#label {
  font-weight: 600;
  color: #797979;
}

.new-tweet {
  margin: 1em;
}

#tweet-text {
  font-weight: 300;
  width: 100%;
  background-color: #f4f1ec;
  border-bottom: 4px solid #797979;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  resize: none;
}

.below-container {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  font-family: "Bungee", cursive;
}

#tweet-button {
  background-color: #2968cb;
  font-family: "Bungee", cursive;
  font-size: large;
  color: #ffffff;
  outline: none;
  border: none;
}
